<!doctype html>
<head>
  <title>Forbidden</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    @media screen and (max-width:500px) {
      body { 
      font-size: .7em; 
      text-align: center;
      }
      .status-title{
      color: #4a4a4a; 
      margin-top: 4em;
      line-height: 1.5;
      }
      .name{
      font-family: Verdana, sans-serif; 
      color: #7d7d7d;
      }
    }
  </style>
</head>

<body>
  <h1 class="status-title">
    403 Forbidden  
  </h1>
  <h3 class="name">W4RR10R's property<h3>

  
</body>
</html>
